.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

/* Other styles */
.subtitle {
  color: white;
  padding-top: 3vh;
}

/* Card styles */
.pizza-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  margin: auto;
  width: 50%;
}

.pizza-card-spacer {
  margin-bottom: 5vh;
}

.pizza-card-container {
  background-color: #a3435dbf;
}
