.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

/* Other styles */
.subtitle {
  display: inline-block;
  color: white;
  border-bottom: 2px solid darkred;
  padding: 2vh 20px 2vh 20px;
  font-size: 35px;
  background-color: #cf2e2eed;
  border-radius: 15px;
}

.cart-total {
  text-align: center;
  color: white;
  font-size: large;
  background-color: #129912;
  border-bottom: 2px solid darkgreen;
  border-radius: 15px;
  display: inline-block;
  padding: 20px;
}

/* Card styles */
.pizza-card {
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  min-height: 50vh;
  margin: auto;
  width: 50%;
}

.pizza-card-spacer {
  margin-bottom: 5vh;
}

.pizza-card-container {
  background-color: #a3435dbf;
}

.cart-total {
  color: white;
  font-size: large;
  padding-bottom: 3vh;
}