.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

/* Card styles */
.pizza-card {
  display: inline-flex;
  margin: 5vh 1rem 5vh 1rem;
  min-height: 50vh;
}